html, body {
    height: 100%;
    width: 100%;
}

body {
    font-family: Arial, sans-serif;
    background-color: black;
    color: white;
}

#container-admin {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 100%;
}

#container-filters {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 20px;
}

#container-filters {
    display: flex;
    justify-content: center;
    width: 100%;
    margin-bottom: 20px; /* Add some spacing between the search bar and the table */
}

#container-search {
    width: 100%;
    display: flex;
    justify-content: center;
}

#search-bar {
    width: 100%; /* Adjust the width as needed */
}

#container-table {
    align-content: center;
    height: 300px; /* Adjust this value to your desired height */
    width: 50vw;
    overflow: auto; /* Add scrollbars if the table content exceeds the container's height */
}

#container-table p {
    text-align: center;
    margin-top: 20px;
}

#container-buttons {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    margin-top: 30px;
}

.radio {
    margin-bottom: 10px;
    margin-left: 10px;
    margin-right: 10px;
}


table, th, td {
    border: 1px solid white; /* Add a 1px solid white border to the table, headers, and cells */
}

.hide {
    visibility: hidden;
}