.blog-container {
    padding: 80px 20px 20px 20px;
    max-width: 800px;
    margin: 0 auto;
    color: white;
}

.blog-container h1 {
    text-align: center;
    margin-bottom: 30px;
}

.blog-post {
    border: 1px solid #ddd;
    padding: 20px;
    margin-bottom: 20px;
    background-color: #333;
    border-radius: 8px;
}

.blog-post h2 {
    margin-bottom: 10px;
    color: #feffa8;
}

.post-date {
    font-size: 0.8em;
    color: #aaa;
    margin-bottom: 10px;
}

.blog-post p {
    line-height: 1.6;
}