table{
    margin-top: 250px;
    margin-left: 200px;
}
th{
    border-width: 1px;
    border-color: black;
    border-style: solid;
    background-color: green;
}
td{
    border-width: 1px;
    border-color: black;
    border-style: solid;
}
