/* html, body {
    height: 100%;
    width: 100%;
}

body {
    font-family: Arial, sans-serif;
    background-color: black;
    color: white;
}

#container-admin {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 100%;
}

#container-filters {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 20px;
}

#container-filters {
    display: flex;
    justify-content: center;
    width: 100%;
    margin-bottom: 20px;
}

#container-search {
    width: 100%;
    display: flex;
    justify-content: center;
}

#search-bar {
    width: 100%;
}

#container-table {
    align-content: center;
    height: 300px;
    width: 50vw;
    overflow: auto;
}

#container-table p {
    text-align: center;
    margin-top: 20px;
}

#container-buttons {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    margin-top: 30px;
}

.radio {
    margin-bottom: 10px;
    margin-left: 10px;
    margin-right: 10px;
}


table, th, td {
    border: 1px solid white;
}

.hide {
    visibility: hidden;
} */

body {
    font-family: Arial, sans-serif;
    background-color: black;
    color: white;
}

#logs-container {
    margin: 20px auto;
    width: 80%;
}

table {
    width: 100%;
    border-collapse: collapse;
}

th, td {
    border: 1px solid white;
    padding: 10px;
    text-align: left;
}

th {
    background-color: #333;
}

tr:nth-child(even) {
    background-color: #444;
}